<%- include('../partials/header.ejs') %>
    <p>このユーザーを本当に削除しますか？</p>
    <table class="table">
        <tr>
            <th>NAME</th>
            <td><%= form.name %></td>
        </tr>
        <tr>
            <th>MAIL</th>
            <td><%= form.mail %></td>
        </tr>
        <tr>
            <th>AGE</th>
            <td><%= form.age %></td>
        </tr>
    </table>
    <form method='post' action='/users/delete'>
        <input type="hidden" name="id" value="<%= form.id %>">
        <button type="submit" class="btn btn-danger">削除</button>
    </form>
<%- include('../partials/footer.ejs') %>